* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-size: 14px;
}

.container {
    width: 1170px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

.container2 {
    margin-left: 100px;
}

.row {
    display: flex;
    justify-content: center;
}

.text-tittle2 {
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding-top: 3px;
}

.wix{
    height: 50px;
    margin-top: 80px;
}

.cw {
    display: flex;
    /*border:2px solid red;*/
    justify-content: center;
}

cw img {
    align-self: center;
}

.cw2 {
    padding-top: 50px;
    align-self: flex-end;
}

.cwtext {
    text-align: center;
}

.bgfeature {
    height: 375px;
    background-color: #f2f2f2;
}

.author {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.ux {
    color: #816767;
    margin-top: 0px;
    opacity: 0.5;
    margin-bottom: 100px;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 2px solid black;
    margin-top: 85px;
    margin-left: 140px;
    background-color: black;
    opacity: 0.1;
    margin-bottom: 45px;
}

.client {
    color: #ff153d;
    margin-right: 27px;
    margin-left: -5px;
}

.col {
    box-sizing: border-box;
    padding-right: 8px;
    padding-left: 8px;
    /*border: 2px solid red;*/
}

.list {
    padding-left: 8px;
}

.pr {
    height: 360px;
    background-image: url(../img/pr.png);
    text-align: center;
    padding-top: 270px;
    /*border: 2px solid red;*/
}


.creative {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

ol li {
    margin: 10px;
}

.tittle-ben {
    color: #ff7684;
    margin-bottom: 25px;
}

.ben-text {
    margin-top: -12px;
}

.benefits {
    margin-bottom: 130px;
}

.text-tittle {
    font-size: 30px;
    text-transform: uppercase;
    margin: 0;
    padding-top: 3px;
    /*border: 2px solid red;*/
}

.footer_pr {
    height: 100px;
    background-color: #f2f2f2;
}


.new-products {
    height: 235px;
    background-color: #f2f2f2;
}

.tittle {
    display: flex;
    align-items: center;
    margin-top: 130px;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    height: 50px;
    /*border: 2px solid green;*/
    padding-left: 8px;
}

.pr-tittle {
    padding-left: 50px;
}

.lucky {
    text-transform: uppercase;
    padding-left: 0px;
}

.promise {
    text-transform: uppercase;
    padding-left: 40px;
}

.feat {
    text-transform: uppercase;
    padding-left: 0px;
}

.tittle2 {
    display: block;
    margin-top: 100px;
    padding-top: 3px;
}

.tittle3 {
    display: block;
    align-items: center;
    margin-top: 130px;
    background-image: url(../img/bg2.png);
    background-repeat: no-repeat;
    height: 50px;
    /*border: 2px solid green;*/
    padding-left: 8px;
}

.features {
    text-align: center;
    padding-top: 82px;
    /*border: 2px solid red;*/
    margin-bottom: 100px;
}

.features h3 {
    font-size: 18px;
}

.features p {
    font-size: 14px;
    line-height: 1.5;
    padding-left: 20px;
    padding-right: 20px;
}

.det-tittle {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    padding-right: 130px;
    margin-top: 39px;
    margin-bottom: 30px;
}

.det-text {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 30px;
    /*border: 2px solid red;*/
}

.bg2 {
    height: 665px;
    background-color: #f2f2f2;
}

.product {
    color: #ff153d;
    margin-right: 29px;
}

.backlogo {
    height: 100px;
    display: flex;
    align-items: center;
}

.textslider {
    padding-left: 100px;
    padding-top: 134px;
}

.button {
    width: 195px;
    height: 50px;
    background-color: #ff1744;
    text-align: center;
    vertical-align: center;
    line-height: 50px;
    /*border: 2px solid green;*/
}

.button1 {
    display: block;
    width: 195px;
    height: 50px;
    background-color: #ff1744;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 39px;
    text-align: center;
    vertical-align: center;
    line-height: 50px;
}

.button1:hover {
    background-color: pink;
}

.textbutton {
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    margin-top: 50px;
}

.backheader {
    height: 100px;
    background-color: #f2f2f2;
}

.backslider {
    height: 580px;
    background-color: #f3dde1;
}

.header-slider {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
}

.textsl {
    font-size: 16px;
    margin-top: 50px;
    width: 395px;
}

.slider1 {
    width: 784px;
    height: 580px;
    background-image: url("../img/bslider2.png");
    background-repeat: no-repeat;
}

.menu {
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    height: 100px;
    align-items: center;
}

.menu-link {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: bold;
    margin-left: 27px;
}

.col-1 {
    flex-basis: 8.3333%;
}

.col-2 {
    flex-basis: 16.6666%;
}

.col-3 {
    flex-basis: 24.9999%;
}

.col-4 {
    flex-basis: 33.3333%;
}

.col-5 {
    flex-basis: 41.6665%;
}

.col-6 {
    flex-basis: 49.9998%;
}

.col-7 {
    flex-basis: 58.3331%;
}

.col-8 {
    flex-basis: 66.6664%;
}

.col-9 {
    flex-basis: 74.9997%;
}

.col-10 {
    flex-basis: 83.3333%;
}

.col-11 {
    flex-basis: 91.6663%;
}

.col-12 {
    flex-basis: 100%;
}