.container {
	width: 1170px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	
}


.row {
	display: flex;
	justify-content: flex-start;
	

}

.col {
	box-sizing: border-box;
	padding-right: 8px;
	padding-left: 8px;
	/*border: 2px solid red;*/
}
.backlogo {
	height: 100px;
	display: flex;
	align-items: center;
}

.backheader {
	display: flex;
	height: 100px;
	background-color: #f2f2f2;
	width: 1400px;

}

.backslider {
    width: 1400px;
    height: 580px;
    background-color: #f3dde1;

}

.menu {
	text-transform: uppercase;
	display: flex;
	justify-content: flex-end;
	height: 100px;
	align-items: center;
}

.menu-link {
	text-decoration: none;
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: bold;;
	margin-left: 27px;
	
}

.col-1 {flex-basis: 8.3333%;
}

.col-2 {flex-basis: 16.6666%;
}

.col-3 {flex-basis: 24.9999%;
}

.col-4 {flex-basis: 33.3333%;
}

.col-5 {flex-basis: 41.6665%;
}

.col-6 {flex-basis: 49.9998%;
}

.col-7 {flex-basis: 58.3331%;
}

.col-8 {flex-basis: 66.6664%;
}

.col-9 {flex-basis: 74.9997%;
}

.col-10 {flex-basis: 83.3333%;

}

.col-11 {flex-basis: 91.6663%;
}

.col-12 {flex-basis: 100%;
}
