* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-size: 14px;
}

.container {
    width: 1170px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}


.row {
    display: flex;
    justify-content: center;
}

.wix {
    display: flex;
    flex-flow: row-reverse;
    margin-top: 80px;
    justify-content: space-between;
}

.behance {
    max-width: 15%;
    max-height: 15%;


}

.wix img {
    align-self: center;
}

.dr {
    width: 180px;
    height: inherit;
}

.cw {
    display: flex;
    justify-content: center;
}

cw img {
    align-self: center;
}

.cw2 {
    padding-top: 50px;
    align-self: flex-end;
}

.cwtext {
    text-align: center;
}

.bgfeature {
    height: 375px;
    background-color: #f2f2f2;
}

.author {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.ux {
    color: #816767;
    margin-top: 0px;
    opacity: 0.5;
    margin-bottom: 100px;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 2px solid black;
    margin-top: 85px;
    margin-left: 140px;
    background-color: black;
    opacity: 0.1;
    margin-bottom: 45px;
}

.logo2 {
    align-self: flex-start;
}

.icon {
    display: flex;
    flex-flow: row;
}

.icon1 {
    width: 44px;
    height: 44px;
    border-radius: 22px;
    border: 1px solid white;
    background-color: #ffbfcc;
    background-image: url(../img/facebok.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 15px;
}

.icon1:hover {
    background-color: #ef7b91;
}

.icon2 {
    background-image: url(../img/twitter.png);
}

.icon3 {
    background-image: url(../img/pinterest.png);
}

.icon4 {
    background-image: url(../img/v.png);
}

.icon5 {
    background-image: url(../img/g.png);
}


.colfooter {
    width: 180%;
}

.leftend {
    display: flex;
    flex-flow: column;
    padding-top: 180px;
}

.bgfooter {
    height: 580px;
    background-image: url(../img/bgfooter.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: -30px;
    position: relative;
}

.bgend {
    height: 580px;
    background-color: #f3dde1;
}

.get {
    display: flex;
    flex-flow: column;
    padding-top: 170px;
    padding-left: 290px;
}

.get-1 {
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 20px;
}

.get-2 {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.get-2 img {
    align-self: center;
    padding-bottom: 15px;
}

.footer-bottom {
    text-align: center;
    padding-top: 47px;
}

.bgbottom {
    background-color: #f2f2f2;
    height: 112px;
}

.get-text {
    padding-left: 30px;
    color: white;
    margin-top: 0px;
}


.client {
    color: #ff153d;
    margin-right: 27px;
    margin-left: -5px;
}

.col {
    box-sizing: border-box;
    padding-right: 8px;
    padding-left: 8px;
    /*border: 2px solid red;*/
}

.list {
    padding-left: 8px;
}

.pr {

    text-align: center;
    padding-top: 110px;
    /*border: 2px solid red;*/
}

.X {
    font-size: 30px;
    color: #969696;
    font-weight: bold;
    padding-bottom: 60px
}



.creative {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

.colors {
    margin-bottom: 20px;
}

ol li {
    margin: 10px;
}

.tittle-ben {
    color: #ff7684;
    margin-bottom: 25px;
}

.ben-text {
    margin-top: -12px;
}

.benefits {
    margin-bottom: 130px;
}

.text-tittle {
    font-size: 30px;
    text-transform: uppercase;
    margin: 0;
    padding-top: 3px;
    /*border: 2px solid red;*/
}

.footer_pr {
    height: 100px;
    background-color: #f2f2f2;
}


.new-products {
    height: 235px;
    background-color: #f2f2f2;
}

.tittle {
    display: block;
    align-items: center;
    margin-top: 130px;
    background-repeat: no-repeat;
    padding-left: 8px;
    height: 50px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold
}

.tittle--w1 {
    background-image: url(../img/bg.png);
}

.tittle--w2 {
    background-image: url(../img/bg1.png);
    margin-top: 90px;
    margin-left: 20px
}

.tittle--w3 {
    background-image: url(../img/bg1-1.png);
    margin-left: 20px;
}

.tittle--w4 {
    background-image: url(../img/bg2.png);
    margin-left: 15px;
    margin-top: 90px;
}

.tittle--w5 {
    background-image: url(../img/bg3.png);
    margin-left: 65px;
}

.lucky {
    text-transform: uppercase;
    padding-left: 0px;
    text-align: center;
}

.promise {
    text-transform: uppercase;
    text-align: center;
}

.feat {
    text-transform: uppercase;
    padding-left: 0px;
    text-align: center;
}

.feat2 {
    text-transform: uppercase;
    text-align: center;
}

.subsbg {
    display: flex;
    padding-left: 48px;
}

.features {
    text-align: center;
    padding-top: 82px;
    margin-bottom: 100px;
}

.features h3 {
    font-size: 18px;
}

.features p {
    font-size: 14px;
    line-height: 1.5;
    padding-left: 20px;
    padding-right: 20px;
}

.det-tittle {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    padding-right: 130px;
    margin-top: 39px;
    margin-bottom: 30px;
}

.det-text {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 30px;
    /*border: 2px solid red;*/
}

.bg2 {
    height: 665px;
    background-color: #f2f2f2;
}

.product {
    color: #ff153d;
    margin-right: 20px;
}

.backlogo {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}


.textslider {
    display: flex;
    flex-flow: column;
    padding-left: 100px;
    padding-top: 134px;
}

.button {
    width: 195px;
    height: 50px;
    background-color: #ff1744;
    text-align: center;
    vertical-align: center;
    line-height: 50px;
    /*border: 2px solid green;*/
}

.button1 {
    display: block;
    width: 195px;
    height: 50px;
    background-color: #ff1744;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 39px;
    text-align: center;
    vertical-align: center;
    line-height: 50px;
}

.form {
    height: 53px;
    width: 300px;
    outline: none;
    padding: 10px;
}

.button3 {
    /*    display: block;*/
    height: 53px;
    width: 120px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    vertical-align: center;
    background-color: #ff1744;
    line-height: 52px;
    text-decoration: none;
    border: none;
    outline: none;
}

.form-input {
    display: flex;
    justify-content: center;
    padding-top: 85px;
    margin-bottom: 100px;
}

.button1:hover {
    background-color: pink;
}

.textbutton {
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    margin-top: 50px;
}

.backheader {
    height: 100px;
    background-color: #f2f2f2;
}

.backslider {
    height: 580px;
    background-color: #f3dde1;
}

.slider1 {
    height: 580px;
    background-image: url("../img/bslider2.png");
    background-repeat: no-repeat;
    margin-top: -30px;
}


.header-slider {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.asd {
    height: 30px;
    background-color: #f2f2f2;
    align-items: flex-end;
}

.textsl {
    color: #816767;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 0px;
    width: 420px;
}

.menu {
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    padding-top: 40px;
}

.menu-link {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: bold;
    margin-left: 27px;
}

.col-1 {
    flex-basis: 8.3333%;
}

.col-2 {
    flex-basis: 16.6666%;
}

.col-3 {
    flex-basis: 24.9999%;
}

.col-4 {
    flex-basis: 33.3333%;
}

.col-5 {
    flex-basis: 41.6665%;
}

.col-6 {
    flex-basis: 49.9998%;
}

.col-7 {
    flex-basis: 58.3331%;
}

.col-8 {
    flex-basis: 66.6664%;
}

.col-9 {
    flex-basis: 74.9997%;
}

.col-10 {
    flex-basis: 83.3333%;
}

.col-11 {
    flex-basis: 91.6663%;
}

.col-12 {
    flex-basis: 100%;
}